@tailwind base;
@tailwind components;
@tailwind utilities;

/* Safe area padding for mobile notch */
.safe-top {
  padding-top: env(safe-area-inset-top);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Navbar için */
nav {
  padding-top: max(1rem, env(safe-area-inset-top));
}
